.page-footer {
    margin-top: 30px;
    background-color: #222;
}

.footer-social {
    padding: .1em .1em;
    text-align: center;
}

.fa-arrow-right {
    font-size: 80%;
}

.footer-copyright {
    padding: .5em .5em;
    text-align: center;
    font-size: 90%;
}

.text-copyright {
    margin: 0;
}

.footer-copyright span {
    color: white;
}

@media screen and (max-width: 480px) {
    .footer-social {
        font-size: 90%;
    }
    .footer-copyright {
        font-size: 75%;
    }
}